commit.time
.*.sw*

*.pdf

*.log
*.aux
.*.aux
*.blg
*.bbl
*.nav
*.snm
*.toc

*out
*.RData
*.Rlog
*.r
.Rhistory

*.wrapR.*

local.mk

testdir/
.testdir/
subclone_dir/

*.makestuff
.deps/
*.deps
*.handouts.tex
*.large.tex
*.complete.tex
*.draft.tex
*.final.tex

*.asn.tex
*.key.tex
*.rub.tex

*.bank
*.mc
*.sa
*.test
*.test.tex

## Directories
age
assign
bd_models
compensation
exponential
images
life_tables
structure
ts

lect
talk
